@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

 
li, .navlink {
    font-family: 'Nova Square', cursive;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
 
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #b30047;
    height: 50px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}
 
.logo
{
    cursor: pointer;
    height:40px;
    width:50px;
    
}
 
.nav__links {
    list-style: none;
}
 
.nav__links li {
 
    display: inline-block;
    padding: 0px 35px;
}
 
.nav__links li .navlink {
    transition: all 0.3s ease 0s;
    color: white;
 
}
 
.nav__links li .navlink:hover {
    color: #ff0066;
}
 
.navlink
{
    padding: 7px 25px;
    background-color: #00001a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.rest {
    background-color: #d1b3ff;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
 
}
.grid-item {
  color: #00001a;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-item-header {
  font-family: 'Nova Square', cursive;
  font-size: 30px;
}

.new-game {
    height: 50%;
    width: auto;
}

.first-time {
  font-family: 'Nova Square', cursive;
  font-size: 30px;
  text-decoration: underline;
  color: #00001a;
  padding-bottom: 40px;
}

.stack {
    display: flex;
    flex-direction: column;
    
}

.stack2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

.stack2-item {
    padding:5px 100px;
    color:#00001a;
    font-family:'Nova Square', cursive;
}

.stack2-container {
    background-color:#848585;
    display:flex;
    flex-direction:column;   
}

.event {
    list-style:none;
}

.top-games {
    list-style:none;
}

.top-teams {
    list-style:none;
}
.stack2-writing {
    padding-top:0;
    font-family:'Nova Square',cursive;
    font-size:17px;
}

.trending-posts {
    font-family:'Nova Square',cursive;
    font-size:17px;
}

.row {
    display: flex;
    flex-direction:row;
    height:40px;
    width:50px;
    
}


.gamepic {
    width:200px;
    height: 250px;
    object-fit: cover;
}

