@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

html {
    height: 101%;
}

li, .navlink {
    font-family: 'Nova Square', cursive;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    /*transform: translate(0, 7.5px);          /*to solve navbar squash with bootstrap*/
}
 
.text-stuff {
    font-family: 'Nova Square', cursive;
    font-weight: 400;
}

/*.button {
    transform: translate(0, 10px);
}

.search {
    transform: translate(15px, 8px);
}*/

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #b30047;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
}
 
.logo
{
    cursor: pointer;
    height:50px;
    width:50px;
    /*transform: translate(-80px, 0px);*/
    
}
 
.nav__links {
    list-style: none;
}
 
.nav__links li {
 
    display: inline-block;
    padding: 0px 35px;
}
 
.nav__links li .navlink {
    transition: all 0.3s ease 0s;
    color: white;
 
}
 
.nav__links li .navlink:hover {
    color: #ff0066;
}
 
.navlink
{
    padding: 7px 25px;
    background-color: #00001a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.rest {
    background-color: #d1b3ff;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  grid-gap:10px;
}
.grid-item {
  color: #00001a;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
  justify-content: center;
  align-content: center;
}

.grid-item-header {
  font-family: 'Nova Square', cursive;
  font-size: 30px;
}

.new-game {
    width: 400px;
}

.first-time {
  font-family: 'Nova Square', cursive;
  font-size: 30px;
  text-decoration: underline;
  color: #00001a;
  padding-bottom: 20px;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid #ccc;
    
}

/*Added home-gamepic div wrapper for the image to set constraints(Adolfo)*/
.home-gamepic {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 600px;
    overflow: hidden;

}

/*This is the image being adjusted so it's uniform inside the div wrapper (Adolfo)*/
.home-cover {
    float: left;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.stack2 {
    /*display: flex;
    flex-direction: column;
    align-items:center;*/
    margin-top: 25px;
}

.stack2-item {
    padding:5px 75px;
    color:#00001a;
    font-family:'Nova Square', cursive;
}

.stack2-container {
    align-content: center;
    justify-content: center;
    background-color: #b3bbff;
    display:flex;
    flex-direction:column;
    padding-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1); 
}

.event {
    list-style:none;
}

.top-games {
    list-style:none;
}

.top-teams {
    list-style:none;
}

/*Renamed the rest of the stack divs to stack3 and added some padding (Adolfo)*/ 
.stack3 {
    padding: 20px;      
}

/*Adjusting alignment and positioning of listed items (Adolfo)*/
li {
    text-align: left;
    padding-bottom: 10px;
}

.trending-posts {
    font-family:'Nova Square',cursive;
    font-size:17px;
}

.stack2-writing {
    padding: 0;
    font-family:'Nova Square', cursive;
    color:#00001a;
    font-size: 17px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #00001a;
  color: white;
  /*height: 30px;                 /*bootstrap compatibility*/
}

.button-container div {
  margin-left: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color:#00001a;
  color: white;
}

/* Set a style for home page buttons */
#loginButton, #signUpButton {
  background-color: #b30047;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-family: 'Nova Square', cursive;
}

/* Set style for form buttons */
#loginSubmitButton, #signUpSubmitButton, #bioSubmitButton, .cancelbtn {
  background-color: #b30047;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Nova Square', cursive;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #b30047;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; /* enable a scroll if necessary */
  background-color: #d1b3ff; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #d1b3ff;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 35%;
  color: white;
  
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.logged-in-status {
    font-family: 'Nova Square', cursive;
    color: white;
    transform: translate(-15px, 0);
}

.logged-in-status a {
    color: white;
}

.profile-pic {
    width: 200px;
}

.profile-pic-small {
    width: 100px;
}

.center-pic {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /*height: 15px;*/
    font-size: 15px;
    background-color: #00001a;
    color: white;
}

.bio-btn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: #00001a;
    color: white;
}

.modal-content1 textarea {
    overflow: auto;
    resize: none;
    height: 50%;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.modal-content1 {
    background-color: #d1b3ff;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 35%;
    color: white;
}


body {
    background-color: pink;
}

.btc-container {
    text-align: center;
}

.boardtitle-container {
    width: 800px;
    height: 650px;
    font-family: 'Nova Square', cursive;
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    transition: all 0.3s ease 0s;
    color: white;
    background-color: #ff99cc;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.boardtitle-container button {
    margin-bottom: 40px; /* Adjust the margin to increase or decrease the spacing between buttons */
    width: 100%; /* Set the button width to 100% */
    background-color: pink; /* Set the button background color */
    color: #b30047; /* Set the button text color */
    border: none; /* Remove the button border */
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: 'Nova Square';
    font-size: 20px;
}

.boardtitle-container button:hover {
    color: white;
    background-color: #b30047; /* Change background color on hover */
}

.boardtitle-container button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ff99cc;
    transition: all 0.3s ease-in-out;
}
.boardtitle-container button:hover:before {
    width: 100%;
}

.board-title {
    background-color: pink;
    color: #00001a;
    padding: 10px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}





.ta-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.text-area {
    resize: none;
    width: 75%;
    height: 200px;
}

.add-post {
    padding: 7px 25px;
    background-color: #00001a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    transform: translate(400px, 0);
    text-decoration: none;
}

.blue-font {
    color: #00001a !important;
}

/*Start of Guide Home Page CSS (Adolfo)*/

.guide-header {
    font-family: 'Nova Square', cursive;
    text-align: center;
    align-items: center;
}

.guide-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*create three equal-width columns*/
    grid-gap:20px; /*add a 10px gap between each grid item*/
    padding: 20px;
    margin-trim: block-end;
}

.guide-item {
    padding: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.guide-image {
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cover {
    width: 375px;
    height: 375px;
    object-fit: cover;
}

.text-container {
    font-family: 'Nova Square', cursive;
    padding-bottom: 2px;
    padding-top: 3px;
}

.edit-container {
  display: grid;
  justify-content: center;
  font-size: 12px;
}

.edit-post {
    padding: 7px 25px;
    background-color: #00001a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.post {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 100%;
  height: 100%;
  border: none;
}